<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <div>
        <h1>Results for <%= query %></h1>
        <h2>(Page <%= page %>)</h2>
        <a href="/">
            <button>
                &larr; Back Home
            </button>
        </a>
        <% results.forEach(m => { %>
            <div>
                <h2>
                    <%= m.Title %> (<%= m.Year %>)
                </h2>
                <img src="<%=m.Poster%>" alt="Poster">
            </div>
            <hr>
        <% }) %>
        <% if (page > 1) { %>
        <a href="/search?query=<%=query%>&page=<%=page-1%>">
            <button>
                &larr; Previous Page
            </button>
        </a>
        <% } %>
        <a href="/search?query=<%=query%>&page=<%=page+1%>">
            <button>
                &rarr; Next Page
            </button>
        </a>
    </div>
</body>
</html>